
  <h1 align="center">Proyecto</h1>
  <!-- <h3 align="center">Registros</h3> -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#"> Listado </a>
        <a class="nav-link" href="usuarios"> Usuarios </a>
      </li>
    </ul>

  <form (submit)="addUser(newUser)">
    <div class="form-group">
      <label for="exnewUser">Nuevo nombre </label><br>
      <input type="text" id="exnewUser" placeholder="Nombre" #newUser>
      <button class="btn btn-primary btn-sm">Añadir nombre</button>
    </div>
  </form>

  <h3>
    Listado de nombres:
  </h3>
  <div class="alert alert-primary" role="alert" *ngIf="mostrarAlerta">
    {{Nombre}}
    <button type="button" (click)="ocultar()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ul>
    <li *ngFor= 'let user of users' class="centr">
     {{user}} <br> <button (click)="deleteUser(user)" class="btn btn-primary btn-sm" > Borrar </button>
     <button (click)="mostrar(user)" class="btn btn-primary btn-sm"> Mostrar </button>
    </li>
  </ul>
<!-- <app-usuario *ngFor='let user of users' [nameUser] = user> </app-usuario> -->

