
<body>
  <h1 align="center">Proyecto</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#"> Usuarios </a>
      <a class="nav-link" href="listado"> Listado </a>
    </li>
  </ul>
  <div *ngFor="let post of posts">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">email</th>
          <th scope="col">phone</th>
          <th scope="col">city</th>
        </tr>
      </thead>
      <tbody *ngIf="(post.id != 3)">
        <tr>
          <th scope="row"> {{post.id}} </th>
          <td> {{post.name}} </td>
          <td> {{post.email}} </td>
          <td> {{post.phone}} </td>
          <td> {{post.address.city}} </td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
